.body {
    background-color: rgb(20, 20, 20);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}
.card{
    color: var(--clr-neutral-100);
    display: inline-block;
    text-align: left;
    background-image: url(/images/balck.jpg);
    background-size: cover;
    border-radius: 0.6rem;
    overflow: hidden;

    transition: transform 500ms ease;
}
.card:hover,
.card:focus-within {
    transform: scale(1.05);
}