.body {
  background-color: rgb(20, 20, 20);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.c-item {
  height: 30rem;
}
.c_img {
  height: 100%;
  object-fit: cover;
}
.spinner-wrapper {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all opacity 0.2s;
}
.card {
  color: var(--clr-neutral-100);
  display: inline-block;
  text-align: left;
  background-image: url(/images/balck.jpg);
  background-size: cover;
  border-radius: 0.6rem;
  overflow: hidden;
  margin-bottom: 20px;

  transition: transform 500ms ease;
}
.card:hover,
.card:focus-within {
  transform: scale(1.05);
}
